{% extends "main.html" %}
{% block content %}
<!--
    families.html

        User has been logged in. All CRUD capability is available to the user.

        Login prompt is not displayed.

        Argument: families
-->
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newFamily')}}">
				<button class="btn btn-default" id="new-family">
					<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Add A Pet Family
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

	{% for family in families %}
    <a href = "{{url_for('showPets', family_id=family.id)}}">
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10 family-list">
                    <h3>{{family.name}}</h3>
                </div>
            <div class="col-md-1"></div>
        </div>
    </a>
	{% endfor %}
{% endblock %}
