<!DOCTYPE html>
<html>
<head>
    <!-- Google Plus sign in -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>
<body>
    <!--
        Setup the Facebook SDK for JavaScript

        The following snippet of code will give the basic version of the SDK where the options are set to their most common defaults. You should insert it directly after the opening <body> tag on each page you want it to load.
    -->
    <!--Facebook sign in -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
              appId      : '1057960334259992',
              cookie     : true,  // cookies allow the server to access the session
              xfbml      : true,  // parse social plugins on this page
              version    : 'v2.5' // use version 2.5
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Run a test of the Graph API after login is successful.
        // See statusChangeCallback() for when this call is made.
        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            console.log(access_token)
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                    console.log('Successful login for: ' + response.name);
                $.ajax({
                        type: 'POST',
                        url: '/fbconnect?state={{STATE}}',
                        processData: false,
                        data: access_token,
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            // Handle or verify the server response if necessary.
                            if (result) {
                                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                                setTimeout(function() { window.location.href = "/families";}, 4000);
                            } else {
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }
                        }
                });
            })
        }
    </script>

    <button>
        <fb:login-button size="large" scope="public_profile,email" onlogin="sendTokenToServer();">Log in</fb:login-button>
            <a href='javascript:sendTokenToServer()'></a>
        </fb:login-button>
    </button>

    <!-- Google plus sign in -->
    <div id="signInButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="870482548020-fbh27a4od9rk31c1f6bn2cshomtsclnj.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
    </div>

    <div id="result"></div>

    <script>
    function signInCallback(authResult) {
        // existence of 'code' implies success
        if (authResult['code']) {
            // hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main family page
            $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    // 200 code is success
                    success: function(result) {
                        console.log('AJAX success: result= ', result)
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/families";
                            }, 4000);
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
            });
        }
    }
    </script>
</body>
</html>
