{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!--
	Arguments:	family, pets, creator
-->
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ pets.family_id }}
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Pets entry creator's name goes here</figcaption>
			</figure>
			</h1>
		</div>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul>
			{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
	</div>


	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">

			<a href="{{url_for('newPet', family_id=family.id )}}">
				<button class="btn btn-default" id="new-pet">
					<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Add a Pet
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>


	{% for pet in pets %}
		<div class="pet">
			<h2>{{pet.breed}}</h2>
			<h3>{{pet.name}}</h3>
			<p>{{pet.description}}</p>
			<a href='{{url_for('editPet', family_id=family.id, pet_id=pet.id ) }}'>Edit</a> |
			<a href='{{url_for('deletePet', family_id=family.id, pet_id=pet.id ) }}'>Delete</a>
		</div>
	{% endfor %}

{% endblock %}
