{% extends "main.html" %}
{% block content %}
<!--
    public_families.html

        User is **not** logged in.

        Login prompt is displayed.

        No create, update, or delete capability is available to the user.

    Variables: families
-->
	{% for family in families %}
    <a href = "{{url_for('show_pets', family_id=family.id)}}">
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10 family-list">
                    <p><strong>{{ family.name }}</strong></p>
                </div>
            <div class="col-md-1"></div>
        </div>
    </a>
	{% endfor %}
{% endblock %}
